@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Gilroy"),
         url("/fonts/gilroylight.woff2") format("woff2"),
         url("/fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Gilroy"),
         url("/fonts/gilroyextrabold.woff2") format("woff2"),
         url("/fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Open Sans"),
         url("/fonts/opensanslight.woff2") format("woff2"),
         url("/fonts/opensanslight.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans"),
         url("/fonts/opensans.woff2") format("woff2"),
         url("/fonts/opensans.woff") format("woff");
}

:root {
    --bg-color: #f7e296;
    --yellow-color: #f0c52e;
    --dark-yellow-color: #f0c52e;
    --black-color: rgba(0,0,0,1);
    --light-grey-color: #e5e5e5;
    --pagination-grey-color: #ebebeb;
    --pagination-hover-grey: #d9d9d9;
    --lighter-grey-color: #f2f2f2;
    --half-grey-color: #dcdcdc;
    --grey-color: #363636;
    --white-color: rgba(225,225,225,1);
    --black-hover-color: rgba(0,0,0,0.6);
    --black-active-color: rgba(0,0,0,0.3);
    --black-opacity-color: rgba(0, 0, 0, 0.4);
    --white-hover-color: rgba(225,225,225,0.3);
    --white-opacity-color: rgba(225,225,225,0.7);
    --transparent-color: rgba(225,225,225,0);
    --invalid-color: #f6dada;
    --gilroy-font-family: "Gilroy", Arial, sans-serif;
    --opensans-font-family: "Open Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;  
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--black-color);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--transparent-color);
}

.button {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    z-index:1;
}

.button:hover {
    background-color: var(--yellow-color);
}

.button:active {
    color: var(--black-hover-color);
}

.button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--yellow-color);
    bottom: 16px;
    left: 0;
    z-index: -1;
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

/* --------------header--------------- */

.main-header {
    margin-top: 20px;
    padding: 0 60px;
    min-height: 300px;
    background-color: var(--bg-color);
}

.header-wrapper {
    display: grid;
    grid-template-rows: min-content;
}

.logo-device {
    display: block;
    justify-self: left;
}

.logo-device:hover {
    opacity: 0.6;
}

.logo-device:active {
    opacity: 0.3;
}

.top-menu-wrapper {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.header-top-menu {
    justify-self: right;
}

.header-top-menu .header-link {
    padding-left: 20px;
}

.header-site-nav {
    grid-column: 1/-1;
}

.site-nav-link {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-nav {
    display: none;
}

.catalog-nav-link {
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 15px;
}

.header-link:hover,
.site-nav-link:hover,
.catalog-nav-link:hover {
    opacity: 0.6;
}

.header-link:active,
.site-nav-link:active,
.catalog-nav-link:active {
    opacity: 0.3;
}

.header-link {
    position: relative;
}

.header-login-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon_user.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    top: 4px;
    left: 0;
}

.header-compare-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/statistics.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 0;
}

.header-basket-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/basket-icon.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 0;
}

.header-link-disabled,
.header-link-disabled:hover,
.header-link-disabled:active {
    opacity: 0.3;
}

.site-nav {
    position: relative;
}

.catalog-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--black-active-color);
    right: 1260px;
    top: 8px
}

.catalog-item::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: var(--black-active-color);
    left: 250px;
    top: 1px
}

.search-icon::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("/img/icon_search.svg");
    width: 16px;
    height: 16px;
    top: 20px;
    left: 0;
}

.header-search {
    position: relative;
    min-width: 440px;
}

.search-input {
    padding: 14px 20px;
    font-family: inherit;
    color: var(--black-color);
    background-color: var(--transparent-color);
    border: none;
}

.search-input:focus {
    color: var(--black-color);
    outline: none;
    border-bottom: 2px solid var(--black-color);
}

.search-input::placeholder {
    color: var(--black-active-color);
}

.search-input:hover::placeholder {
    color: var(--black-hover-color);
}

.search-input:focus ~ .search-button {
    display: block;
}

.search-button {
    display: none;
    padding: 20px;
    min-height: 50px;
    text-transform: uppercase;
    background-color: var(--transparent-color);
    border: 2px solid var(--black-color);
}

.search-button:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.search-button:active {
    color: var(--white-hov-color);
    background-color: var(--black-color);
}

/* ---------------slider----------------- */

.slider-control-list {
    display: none;
}

.promo-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.promo-image {
    display: block;
}

.promo-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.characteristic-info {
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

.characteristic-title {
    margin: 0;
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
}

.promo-button{
    padding: 10px 42px;
}

/* -------------------product-categories---------------------- */

.categories-list {
    display: flex;
    flex-wrap: wrap;
}

.categories-item {
    width: 160px;
    margin-left: auto;
}

.categories-link {
    position: relative;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.categories-img {
    width: 160px;
    height: 160px;
    background-color: var(--bg-color);
}

.ctg-1::after {
    content: "";
    position: absolute;
    width: 97px;
    height: 55px;
    background-image: url("/img/popular-1.svg");
    background-repeat: no-repeat;
    top: 50px;
    left: 30px;
}

.ctg-2::after {
    content: "";
    position: absolute;
    width: 86px;
    height: 117px;
    background-image: url("/img/popular-2.svg");
    background-repeat: no-repeat;
    top: 20px;
    left: 35px;
}

.ctg-3::after {
    content: "";
    position: absolute;
    width: 71px;
    height: 87px;
    background-image: url("/img/popular-3.svg");
    background-repeat: no-repeat;
    top: 35px;
    left: 45px;
}

.ctg-4::after {
    content: "";
    position: absolute;
    width: 107px;
    height: 65px;
    background-image: url("/img/popular-4.svg");
    background-repeat: no-repeat;
    top: 45px;
    left: 25px;
}

.ctg-5::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 98px;
    background-image: url("/img/popular-5.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 50px;
}

.ctg-6::after {
    content: "";
    position: absolute;
    width: 132px;
    height: 69px;
    background-image: url("/img/popular-6.svg");
    background-repeat: no-repeat;
    top: 50px;
    left: 15px;
}

.categories-link:active {
    color: var(--black-active-color);
}

.categories-link:hover .categories-img {
    background-color: var(--yellow-color);
}

.categories-link:active .ctg-1::after,
.categories-link:active .ctg-2::after,
.categories-link:active .ctg-3::after,
.categories-link:active .ctg-4::after,
.categories-link:active .ctg-5::after,
.categories-link:active .ctg-6::after {
    opacity: 0.3;
}

/* --------------------service------------------------ */

.service {
    background-color: var(--light-grey-color);
}

.service .container {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.service-control-list {
    width: 280px;
    border-right: 4px solid var(--black-color);
}

.service-link {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-width: 160px;
    padding: 9px 0;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    z-index:1;
}

.service-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--yellow-color);
    bottom: 16px;
    left: 0;
    z-index: -1;
}

.service-link:hover {
    background-color: var(--yellow-color);
}

.service-link:active {
    color: var(--bg-color);
    background-color: var(--black-color);
}

.tab-active {
    background-color: var(--black-color);
}

.tab-active .service-link {
    color: var(--bg-color);
}

.tab-active .service-link:hover {
    background-color: var(--black-color);
}

.tab-active .service-link::before {
    background-color: var(--black-color);
}

.service-link:active::before {
    background-color: var(--black-color);
}
.active-slider {
    display: block;
}


.service-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.service-info {
    line-height: 28px;
}

.service-item {
    margin-left: 116px;
    position: relative;
    min-height: 320px;
}

.item-delivery::after {
    content: "";
    position: absolute;
    width: 136px;
    height: 164px;
    top: 0;
    right: 50px;
    background-image: url("/img/delivery.png");
    background-repeat: no-repeat;
}

.item-warranty::after {
    content: "";
    position: absolute;
    width: 171px;
    height: 195px;
    top: 0;
    right: 50px;
    background-image: url("/img/warranty.png");
    background-repeat: no-repeat;

}

.item-credit::after {
    content: "";
    position: absolute;
    width: 156px;
    height: 188px;
    top: 0;
    right: 50px;
    background-image: url("/img/credit.png");
    background-repeat: no-repeat;
}

/* ----------------------brands----------------------------- */

.brand-list {
    margin: 90px 0;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.brand-item {
    margin-right: auto;
}

.brand-logo {
    filter: grayscale(100%);
    opacity: 0.2;
}

.brand-link {
    display: block;
}

.brand-link:hover .brand-logo {
    filter: none;
    opacity: 1;
}

/* -----------------------about-us---------------------- */

.columns-wrapper {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-us {
    position: relative;
}

.about-us-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about-us-text {
    line-height: 28px;
}

.transport-companies {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.about-us-button {
    padding: 10px 21px;
}

/* -------------------contacts------------------------------ */

.contacts {
    position: relative;
}

.contacts-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.map-link {
    display: block;
    background-color: var(--light-grey-color);
}

.contacts-text {
    line-height: 28px;
}

.contacts-button {
    padding: 10px 39px;
}

/* --------------------------inner-page--------------------------------------- */

.inner-page-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

/* ---------------------------breadcrumbs---------------------------------------- */

.breadcrumbs-link {
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.1;
}

.breadcrumbs-current:hover {
    opacity: 0.3;
}

/* --------------------------filter------------------------------- */

.filters {
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    background-color: var(--light-grey-color);
}

.filter-section-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.filters-title {
    background-color: var(--half-grey-color);
}

.filter-fieldset {
    border: none;
    border-top: 2px solid var(--black-color);
}

.filter-legend {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-button {
    padding: 9px 40px;
}

/* ----------------------------sorting------------------------------------- */

.sorting {
    font-family: var(--opensans-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background-color: var(--light-grey-color);
}

.sorting-link {
    opacity: 0.3;
}

.sorting-link:hover {
    opacity: 0.6;
}

.sorting-link:active {
    opacity: 1;
}

.sorting-icon-up {
    width: 10px;
    height: 11px;
    background-image: url("/img/icon-up-dir.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
}

.sorting-icon-down {
    width: 10px;
    height: 11px;
    background-image: url("/img/icon-down-dir.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
}

.sorting-icon-up:hover,
.sorting-icon-down:hover {
    opacity: 0.4;
}

.sorting-icon-up:active,
.sorting-icon-down:active {
    opacity: 1;
}

.sorting-link-current,
.icon-current {
    opacity: 1;
}

/* --------------------------product--------------------------------- */

.product-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.product-price {
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.product-image {
    display: block;
    background-color: var(--light-grey-color);
}

.product-compare-link {
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.product-button {
    padding: 9px 36px;
}

.product-compare-link {
    opacity: 0.5;
}

.product-compare-link:hover {
    opacity: 1;
}

.product-compare-link:active {
    opacity: 0.2;
}

/* ------------------------------pagination--------------------------------------- */

.pagination {
    /* временно */
    margin: 30px 0;
    background-color: var(--pagination-grey-color);
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-list {
    /* временно */
    margin: 30px 0;
}

.pagination-button {
    box-sizing: border-box;
    padding: 25px 27px;
    background-color: var(--pagination-grey-color);
}

.pagination-button:hover {
    background-color: var(--pagination-hover-grey);
}

.pagination-button:active {
    color: var(--black-active-color);
}

.pagination-link {
    color: var(--black-active-color);
}

.pagination-link:hover {
    color: var(--black-hover-color);
}

.pagination-link:active {
    color: var(--black-color);
}

.pagination-link-current {
    color: var(--black-color);
}

/* --------------------------------footer--------------------------- */

.main-footer {
    background-color: var(--grey-color);
}

.footer-logo {
    width: 163px;
}

.main-footer .container {
    display: grid;
    grid-template-rows: min-content;
}

.footer-wrapper-top {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.footer-wrapper-middle {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.footer-wrapper-bottom {
    display: grid;
    grid-template-columns:1fr 1fr;
}

.footer-top-menu {
    justify-self: right;
}

.footer-nav {
    justify-self: center;
}

.footer-address {
    min-width: 215px;
}

.footer-tel {
    justify-self: right;
    min-width: 156px;
}

.footer-link,
.footer-address,
.footer-tel-link {
    color: var(--white-color);
}

.top-menu-link {
    padding-left: 20px;
    position: relative;
    color: var(--white-opacity-color);
}

.top-menu-link:hover {
    color: var(--white-color);
}

.top-menu-link:hover::before {
    opacity: 0.6;
}

.top-menu-link:active {
    color: var(--white-hover-color);
}

.top-menu-link:active::before {
    opacity: 0.3;
}

.footer-link-disabled:hover {
    color: var(--white-opacity-color);
}

.footer-login-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon_user2.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    top: 4px;
    left: 0;
}

.inner-page .footer-login-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon_user3.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    top: 4px;
    left: 0;
}

.footer-compare-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/statistics2.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 0;
}

.footer-basket-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/basket-icon2.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 0;
}

/* -----------------social-list---------------------------------- */

.social-list {
    margin-left: auto;
    justify-self: right;
}

.social-link {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.social-link:hover {
    opacity: 0.6;
}

.social-link:active {
    opacity: 0.1;
}

.fb-link {
    background-image: url("/img/fb-icon.svg");
    background-repeat: no-repeat;
}

.inst-link {
    background-image: url("/img/insta-icon.svg");
    background-repeat: no-repeat;
}

.tw-link {
    background-image: url("/img/twitter-icon.svg");
    background-repeat: no-repeat;
}

.producer-link {
    justify-self: right;
    display: block;
    width: 115px;
    height: 33px;
    background-image: url("/img/logo_htmlacademy.svg");
    background-repeat: no-repeat;
}

.producer-link:hover {
    opacity: 0.6;
}

.producer-link:active {
    opacity: 0.3;
}

/* ---------------------------modal--------------------------- */

.modal {
    width: 960px;
    min-height: 550px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.user-name-field,
.user-email-field,
.user-comment-field {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.user-name-input,
.user-email-input,
.user-comment {
    width: 100%;
    padding: 15px 20px;
    font-family: var(--opensans-font-family);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    background-color: var(--lighter-grey-color);
    border: none;
    color: var(--black-opacity-color);
}

.user-name-input:hover,
.user-email-input:hover,
.user-comment:hover {
    background-color: var(--light-grey-color);
}

.user-name-input:focus,
.user-email-input:focus,
.user-comment:focus {
    background-color: var(--white-color);
    outline: 2px solid var(--bg-color);
    color: var(--black-color);
}

.user-name-input:invalid,
.user-email-input:invalid {
    background-color: var(--invalid-color);
}

.button-send {
    padding: 9px 35px;
}

.button-close {
    /* временно */
    position: relative;
    width: 55px;
    height: 55px;
    background-color: var(--dark-yellow-color);
    border-radius: 50%;
    opacity: 0.5;
}

.button-close:hover {
    opacity: 1;
}

.button-close:active {
    opacity: 0.3;
}

.button-close::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    /* временно */
    top: 25px;
    left: 12px;
    background-color: var(--white-color);
    opacity: 0.7;
    transform: rotate(45deg);
}

.button-close::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    /* временно */
    top: 25px;
    left: 12px;
    background-color: var(--white-color);
    opacity: 0.7;
    transform: rotate(-45deg);
}