@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Gilroy"),
         url("/fonts/gilroylight.woff2") format("woff2"),
         url("/fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Gilroy"),
         url("/fonts/gilroyextrabold.woff2") format("woff2"),
         url("/fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Open Sans"),
         url("/fonts/opensanslight.woff2") format("woff2"),
         url("/fonts/opensanslight.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Open Sans"),
         url("/fonts/opensans.woff2") format("woff2"),
         url("/fonts/opensans.woff") format("woff");
}

:root {
    --bg-color: #f7e296;
    --yellow-color: #f0c52e;
    --dark-yellow-color: #f0c52e;
    --black-color: rgba(0,0,0,1);
    --light-grey-color: #e5e5e5;
    --pagination-grey-color: #ebebeb;
    --pagination-hover-grey: #d9d9d9;
    --lighter-grey-color: #f2f2f2;
    --half-grey-color: #dcdcdc;
    --grey-color: #363636;
    --scale-color: rgba(0,0,0,0.2);
    --white-color: rgba(225,225,225,1);
    --product-card-white: rgba(225,225,225,0.7);
    --toggle-grey-color: #c4c4c4;
    --bg-white: #ffffff;
    --black-hover-color: rgba(0,0,0,0.6);
    --black-active-color: rgba(0,0,0,0.3);
    --black-opacity-color: rgba(0, 0, 0, 0.4);
    --white-hover-color: rgba(225,225,225,0.3);
    --white-opacity-color: rgba(225,225,225,0.7);
    --transparent-color: rgba(225,225,225,0);
    --invalid-color: #f6dada;
    --green-color: #91c92f;
    --gilroy-font-family: "Gilroy", Arial, sans-serif;
    --opensans-font-family: "Open Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: var(--black-color);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    display: inline-flex;
    text-decoration: none;
    color: var(--black-color);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--transparent-color);
}

.button {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    z-index:1;
}

.button:hover,
.button:focus {
    background-color: var(--yellow-color);
}

.button:active {
    color: var(--black-hover-color);
}

.button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--yellow-color);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* --------------header--------------- */

.main-header {
    margin-top: 40px;
    padding: 0 60px;
    padding-bottom: 110px;
    position: relative;
    min-height: 300px;
    background-color: var(--bg-color);
}

.logo-device {
    display: block;
}

.logo-device:hover,
.logo-device:focus {
    opacity: 0.6;
}

.logo-device:active {
    opacity: 0.3;
}

.header-logo {
    position: absolute;
    top: -20px;
}

.top-menu-wrapper {
    margin-bottom: 34px;
    padding-top: 30px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 105px;
}

.header-top-menu {
    justify-self: right;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 55px;
}

.top-menu-item {
    padding: 15px 0;
}

.header-login {
    justify-self: left;
    grid-column: 1/3;
}

.header-top-menu .header-link {
    padding-left: 20px;
}

.header-nav {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.header-site-nav {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    gap: 35px;
}

.site-nav .site-nav-item:nth-child(3n) {
    margin-left: 60px;
}

.site-nav-link {
    min-width: 125px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-nav {
    display: none;
    padding-top: 30px;
    padding-left: 60px;
    position: absolute;
    width: 1160px;
    min-height: 165px;
    top: 20px;
    left: -60px;
    background-color: var(--bg-color);
    z-index: 2;
}

.catalog-item:hover .catalog-nav,
.catalog-item:focus-within .catalog-nav {
    display: flex;
}

.catalog-nav-item {
    margin-right: 63px;
    display: flex;
    flex-direction: column;
}

.catalog-nav-link {
    margin-bottom: 16px;
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 15px;
}

.header-link:hover,
.header-link:focus,
.site-nav-link:hover,
.site-nav-link:focus,
.catalog-nav-link:hover,
.catalog-nav-link:focus {
    opacity: 0.6;
}

.header-link:active,
.site-nav-link:active,
.catalog-nav-link:active {
    opacity: 0.3;
}

.header-link {
    position: relative;
}

.header-login-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon_user.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    top: 4px;
    left: -5px;
}

.header-compare-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/statistics.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 0;
}

.header-basket-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/basket-icon.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 0;
}

.header-link-output {
    color: var(--black-active-color);
}

.catalog-item {
    position: relative;
    width: fit-content;
}

.catalog-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 3px;
    background-color: var(--black-active-color);
    right: 7px;
    top: 8px
}

.catalog-item::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 16px;
    background-color: var(--black-active-color);
    right: 14px;
    top: 2px
}

.catalog-item .site-nav-link {
    padding-right: 40px;
}

.search-icon::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("/img/icon_search.svg");
    width: 16px;
    height: 16px;
    top: 16px;
    left: 0;
}

.header-search {
    position: relative;
    min-width: 440px;
}

.search-input {
    padding: 14px 20px 14px 40px;
    font-family: inherit;
    color: var(--black-color);
    background-color: var(--transparent-color);
    border: none;
}

.search-input:focus {
    color: var(--black-color);
    outline: none;
    border-bottom: 2px solid var(--black-color);
}

.search-input::placeholder {
    color: var(--black-active-color);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
    color: var(--black-hover-color);
}

.search-input:focus ~ .search-button {
    display: block;
}

.search-button {
    display: none;
    position: absolute;
    padding: 15px;
    min-height: 50px;
    top: -4px;
    right: 116px;
    text-transform: uppercase;
    background-color: var(--transparent-color);
    border: 2px solid var(--black-color);
}

.search-button:hover,
.search-button:focus {
    color: var(--white-color);
    background-color: var(--black-color);
}

.search-button:active {
    color: var(--white-hov-color);
    background-color: var(--black-color);
}

.inner-page .main-header {
    margin-bottom: 44px;
    padding-bottom: 18px;
    min-height: 186px;
}

.inner-page .top-menu-wrapper {
    margin-bottom: 35px;
    gap: 100px;
}

.inner-page .header-top-menu {
    column-gap: 15px;
}

.inner-page .header-login-link {
    padding-left: 25px;
    min-width: 155px;
}

.inner-page .top-menu-item {
    width: 100%;
}

.inner-page .top-menu-item:last-child {
    justify-self: right;
    text-align: end;
}

.inner-page .header-link-output {
    padding-left: 5px;
}

.inner-page .header-login-link::before {
    left: 0;
}

/* ---------------slider----------------- */

.slider {
    position: relative;
}

.promo-control-list {
    display: flex;
    width: 210px;
    min-height: 12px;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 327px;
    right: 98px;
    z-index: 10;
}

.control-item {
    padding: 8px;
}

.control-link {
    padding: 6px;
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    vertical-align: middle;
    z-index: 1;
}

.control-link.active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    top: 3px;
    left: 3px;
}

.promo-list {
    margin-top: -130px;
}

.promo-item {
    margin-left: 90px;
    margin-right: 88px;
    padding-bottom: 78px;
    min-height: 581px;
    position: relative;
    display: none;
    grid-template-columns: 1fr 1fr;
}

.slider::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    top: 35px;
    right: 480px;
    background-color: var(--bg-white);
}

.slider-1 {
    margin-left: 30px;
    margin-right: 50px;
}

.slider-2 {
    padding-bottom: 71px;
}

.promo-item.active {
    display: grid;
}

.slider-1::after {
    content: "01";
    position: absolute;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    color: var(--bg-white);
    top: -17px;
    right: -3px;
}

.slider-2::after {
    content: "02";
    position: absolute;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    color: var(--bg-white);
    top: -17px;
    right: -34px;
}

.slider-3::after {
    content: "03";
    position: absolute;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    color: var(--bg-white);
    top: -16px;
    right: -35px;
}

.promo-image {
    display: block;
}

.slider-1 .promo-image {
    margin-top: 85px;
    margin-left: 0;
    min-width: 385px;
}

.slider-2 .promo-image {
    margin-top: 27px;
    margin-left: 26px;
    min-width: 345px;
}

.slider-3 .promo-image {
    min-width: 526px;
}

.promo-wrapper {
    margin-left: 20px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    z-index: 1;
}

.slider-1 .promo-wrapper {
    margin-left: 30px;
}

.promo-title {
    margin-bottom: 25px;
    margin-top: 95px;
    margin-right: 80px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.slider-1 .promo-title {
    margin-right: 0;
}

.slider-2 .promo-title {
    margin-top: 94px;
    margin-bottom: 26px;
}

.promo-description {
    margin: 0;
    margin-bottom: 50px;
}

.slider-1 .promo-description {
    margin-right: 40px;
}

.characteristic {
    width: 100%;
    order: 4;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 65px;
}

.characteristic:nth-child(3) {
    column-gap: 60px;
}

.characteristic-info {
    margin-bottom: 15px;
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
}

.characteristic-title {
    margin: 0;
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.promo-button{
    margin-bottom: 35px;
    padding: 10px 42px;
    justify-self: left;
}

/* -------------------product-categories---------------------- */

.product-categories {
    padding-top: 25px;
    padding-bottom: 85px;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.categories-link {
    padding-top: 198px;
    width: 100%;
    position: relative;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.categories-item:nth-child(4) .categories-link {
    letter-spacing: 0;
}

.categories-link::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
}

.categories-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

.ctg-1::after {
    background-image: url("/img/popular-1.svg");
}

.ctg-2::after {
    top: 5px;
    background-image: url("/img/popular-2.svg");
}

.ctg-3::after {
    background-image: url("/img/popular-3.svg");
}

.ctg-4::after {
    background-image: url("/img/popular-4.svg");
}

.ctg-5::after {
    background-image: url("/img/popular-5.svg");
}

.ctg-6::after {
    background-image: url("/img/popular-6.svg");
}

.categories-link:active {
    color: var(--black-active-color);
}

.categories-link:hover::before,
.categories-link:focus::before {
    background-color: var(--yellow-color);
}

.categories-link:active::after {
    opacity: 0.3;
}

/* --------------------service------------------------ */

.service {
    padding-bottom: 70px;
    position: relative;
    background-image: linear-gradient(to bottom, var(--bg-white) 100px, var(--light-grey-color) 100px);
}

.service .container {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.service-control-list {
    margin-top: 79px;
    width: 278px;
}

.service-tab {
    margin-bottom: 22px;
}

.service-link {
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    min-width: 160px;
    padding: 9px 0;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    z-index:1;
}

.service-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--yellow-color);
    bottom: 16px;
    left: 0;
    z-index: -1;
}

.service-link:hover,
.service-link:focus {
    background-color: var(--yellow-color);
}

.service-link:active {
    color: var(--bg-color);
}

.service-link:active::before {
    width: 280px;
    height: 100%;
    bottom: 0;
    background-color: var(--black-color);
}

.service-link.active::before {
    width: 280px;
    height: 100%;
    top: 0;
    background-color: var(--black-color);
}

.service-link.active {
    color: var(--bg-color);
}

.service-slider {
    position: relative;
}

.service-slider::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-color);
}

.service-title {
    margin: 0;
    margin-bottom: 40px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.service-info {
    margin: 0;
    line-height: 30px;
    letter-spacing: 0.1em;
}

.service-item {
    padding: 70px 190px 60px 122px;
    display: none;
    position: relative;

}

.service-item::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.service-item.active {
    display: block;
}

.item-delivery::after {
    width: 136px;
    height: 164px;
    top: 70px;
    right: 2px;
    background-image: url("/img/delivery.png");
}

.item-warranty::after {
    width: 171px;
    height: 195px;
    top: 52px;
    right: -16px;
    background-image: url("/img/warranty.png");
}

.item-credit::after {
    width: 156px;
    height: 188px;
    top: 47px;
    right: 8px;
    background-image: url("/img/credit.png");
}

/* ----------------------brands----------------------------- */

.brands {
    padding: 92px 20px 89px;
}

.brand-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.brand-logo {
    filter: grayscale(100%);
    opacity: 0.2;
}

.brand-link {
    display: block;
}

.brand-link:hover .brand-logo,
.brand-link:focus .brand-logo {
    filter: none;
    opacity: 1;
}

/* -----------------------about-us---------------------- */

.columns-wrapper {
    padding-bottom: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
}

.column {
    position: relative;
}

.column::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    top: 0;
    left: 0;
    background-color: var(--black-color);
}

.about-us {
    padding-top: 58px;
    position: relative;
}

.about-us-title,
.contacts-title {
    margin: 0;
    margin-bottom: 40px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.about-us-text {
    margin: 0;
    margin-bottom: 40px;
    margin-right: 85px;
    line-height: 28px;
}

.about-us-text:last-of-type {
    margin-bottom: 60px;
}

.transport-companies {
    margin-bottom: 67px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

.company {
    margin-bottom: 15px;
    padding-left: 32px;
    position: relative;

}

.about-us-button {
    margin-left: 3px;
    padding: 10px 21px;
}

.company::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 10px;
    left: 0;
    border: 2px solid var(--light-grey-color);
    border-radius: 50%;
}

/* -------------------contacts------------------------------ */

.contacts {
    padding-top: 58px;
    position: relative;
}

.contacts-title {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
}

.map-link {
    margin-bottom: 75px;
    display: block;
    background-color: var(--light-grey-color);
}

.contacts-text {
    margin: 0;
    margin-bottom: 40px;
    line-height: 28px;
}

.contacts-button {
    padding: 10px 39px;
}

/* ---------------------------breadcrumbs---------------------------------------- */

.breadcrumbs {
    margin-bottom: 50px;
    padding-left: 80px;
    grid-column: 1/-1;
    display: flex;
}
.breadcrumbs-item {
    margin-right: 15px;
    position: relative;
}

.breadcrumbs-item::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 6px;
    top: 7px;
    right: 3px;
    background-image: url("/img/icon_arrow_nav.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs-link {
    padding-right: 25px;
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
}

.breadcrumbs-item:last-child::after {
    background-image: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.1;
}

.breadcrumbs-link.current:hover,
.breadcrumbs-link.current:focus {
    opacity: 0.3;
}

/* --------------------------filter------------------------------- */

.filters {
    min-width: 450px;
    position: relative;
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.filter {
    margin: 85px 68px 0 180px;
}

.filters::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--light-grey-color);
    z-index: -1;
}

.filter-section-title {
    margin: 0;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.filters-title {
    padding-right: 12px;
    width: 100%;
    min-height: 70px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.filters-title::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--half-grey-color);
    z-index: -1;
}

.filter-fieldset {
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
}

.filter-fieldset::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -64px;
    left: 0;
    background-color: var(--black-color);
}

.filter-legend {
    margin-bottom: 30px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-button {
    min-width: 200px;
    min-height: 40px;
}

.range-filter {
    margin-top: 10px;
    margin-bottom: 88px;
    position: relative;
}

.range-controls {
    margin-bottom: 15px;
}

.scale {
    width: 200px;
    height: 2px;
    background-color: var(--scale-color);
}

.bar {
    width: 57%;
    height: 100%;
    background-color: var(--green-color);
}

.toggle {
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    cursor: pointer;
    background-color: var(--toggle-grey-color);
    border: 8px solid var(--bg-white);
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.toggle-min {
    left: 0;
}

.toggle-max {
    right: 68px;
}

.min-price,
.max-price {
    padding-top: 20px;
    min-width: 75px;
    display: inline-flex;
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.min-price {
    margin-left: -8px;
}

.max-price {
    margin-left: -26px;
}

.color-list {
    margin-bottom: 57px;
}

.color-item {
    margin-bottom:21px;
}

.color-label {
    padding-left: 42px;
    position: relative;
    cursor: pointer;
}

.color-label::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -1px;
    left: 0;
    border: 2px solid var(--black-color);
    border-radius: 2px;
}

.color-label::after {
    content: "";
    position: absolute;
    display: none;
    width: 13px;
    height: 10px;
    top: 6px;
    left: 5px;
    background-image: url("/img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-checkbox:checked + .color-label::after {
    display: block;
}

.color-label:hover::before,
.color-label:hover::after {
    opacity: 0.6;
}

.color-label:active::before,
.color-label:active::after {
    opacity: 1;
}

.bluetooth-list {
    margin-bottom: 45px;
}

.bluetooth-item {
    margin-bottom: 22px;
}

.bluetooth-label {
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

.bluetooth-label::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0;
    border: 2px solid var(--black-color);
    border-radius: 50%;
}

.bluetooth-label::after {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 8px;
    background-color: var(--black-color);
    border-radius: 50%;
}

.bluetooth-label:hover::before,
.bluetooth-label:hover::after {
    opacity: 0.6;
}

.bluetooth-label:active::before {
    opacity: 1;
}

.filter-input:focus + .filter-label::before,
.filter-input:focus + .filter-label::after {
    opacity: 0.6;
}

.filter-radio-btn:checked + .bluetooth-label:active::before {
    opacity: 0.6;
}

.filter-input:checked + .filter-label::after {
    display: block;
}

.filter-input:focus + .filter-label {
    outline: 2px solid var(--black-color);
}

.filter-input:disabled + .filter-label,
.filter-input:disabled + .filter-label::before,
.filter-input:disabled + .filter-label::after {
    opacity: 0.25;
    cursor: default;
}

/* ----------------------------sorting------------------------------------- */

.sorting {
    margin-right: 115px;
    min-height: 70px;
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    font-family: var(--opensans-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    z-index: 1;
}

.sorting::before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-grey-color);
    z-index: -1;
}

.sorting-title {
    margin-left: 70px;
    align-self: center;
}

.sorting-list {
    margin-left: 73px;
    justify-self: left;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
    align-items: center;
}

.sorting-link {
    min-width: 50px;
    opacity: 0.3;
}

.sorting-link:hover,
.sorting-link:focus {
    opacity: 0.6;
}

.sorting-link:active {
    opacity: 1;
}

.sorting-icon-list {
    min-width: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.sorting-icon {
    padding: 15px;
    width: 10px;
    height: 11px;
    background-image: url("/img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

.icon-up {
    background-image: url("/img/icon-up-dir.svg");
}

.icon-down {
    background-image: url("/img/icon-down-dir.svg");
}

.sorting-icon:hover,
.sorting-icon:focus {
    opacity: 0.4;
}

.sorting-icon:active {
    opacity: 1;
}

.sorting-link.current,
.sorting-icon.current {
    opacity: 1;
}

.current {
    pointer-events: none;
}

/* --------------------------product--------------------------------- */

.catalog-page-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    width: 1440px;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.catalog-page-title {
    margin-bottom: 30px;
    padding-left: 80px;
    grid-column: 1/-1;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.catalog-wrapper {
    margin: 69px 20px 78px 70px;
}

.catalog-list {
    margin-bottom: 40px;
    min-height: 956px;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 50px 40px;
}

.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
}

.new::before {
    content: "";
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    top: 28px;
    right: 27px;
    border: 2px solid var(--black-active-color);
    border-radius: 50%;
}

.new::after {
    content: "new";
    position: absolute;
    top: 52px;
    right: 45px;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.title-wrapper {
    margin-top: 30px;
    order: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    justify-items: end;
}

.product-title {
    margin: 0;
    justify-self: left;
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.product-price {
    margin-top: 3px;
    display: inline-flex;
    justify-self: right;
    font-family: var(--gilroy-font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.product-image {
    width: 360px;
    display: block;
    object-fit: contain;
    background-color: var(--light-grey-color);
}

.link-wrapper {
    padding: 170px 80px 140px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--product-card-white);
}

.product-image:hover + .link-wrapper,
.product-image:focus + .link-wrapper,
.link-wrapper:hover,
.link-wrapper:focus-within {
    display: flex;
    opacity: 1;
    z-index: 1;

}

.product-compare-link {
    margin-left: 15px;
    font-family: var(--opensans-font-family);
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.product-button {
    margin-bottom: 15px;
    padding: 9px 36px;
}

.product-compare-link {
    opacity: 0.5;
}

.product-compare-link:hover,
.product-compare-link:focus {
    opacity: 1;
}

.product-compare-link:active {
    opacity: 0.2;
}

/* ------------------------------pagination--------------------------------------- */

.pagination {
    margin-right: 100px;
    min-height: 70px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    background-color: var(--pagination-grey-color);
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-list {
    min-width: 100px;
    margin-left: 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-link {
    padding: 15px;
    text-align: center;
}

.pagination-button {
    padding: 25px 30px;
    min-width: 120px;
    min-height: 100%;
    align-self: center;
    background-color: var(--pagination-grey-color);
}

.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--pagination-hover-grey);
}

.pagination-button:active {
    color: var(--black-active-color);
}

.pagination-link {
    width: 100%;
    color: var(--black-active-color);
}

.pagination-link:hover,
.pagination-link:focus {
    color: var(--black-hover-color);
}

.pagination-link:active {
    color: var(--black-color);
}

.pagination-link-current {
    color: var(--black-color);
}

/* --------------------------------footer--------------------------- */

.main-footer {
    background-color: var(--grey-color);
}

.footer-logo {
    margin-top: 18px;
    width: 163px;
}

.main-footer .container {
    padding-top: 46px;
    padding-bottom: 45px;
    display: grid;
    grid-template-rows: min-content;
}

.footer-wrapper-top {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrapper-middle {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.footer-wrapper-bottom {
    margin-bottom: 20px;
    padding-left: 137px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrapper-bottom::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    bottom: 13px;
    left: 0;
    background-color: var(--yellow-color);
}

.footer-top-menu {
    justify-self: right;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 43px;
}

.footer-nav {
    justify-self: center;
}

.footer-site-nav {
    margin-right: 55px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 32px;
}

.footer-site-nav .footer-link {
    min-width: 115px;
}

.footer-address {
    margin: 0;
    min-width: 215px;
}

.footer-tel {
    margin: 0;
    justify-self: right;
    min-width: 156px;
}

.footer-link,
.footer-address,
.footer-tel-link {
    color: var(--white-color);
}

.footer-tel-link:hover,
.footer-tel-link:focus {
    opacity: 0.6;
}

.footer-tel-link:active {
    opacity: 0.3;
}

.top-menu-link {
    padding-left: 23px;
    position: relative;
    color: var(--white-opacity-color);
}

.top-menu-link:hover,
.top-menu-link:focus {
    color: var(--white-color);
}

.top-menu-link:hover::before,
.top-menu-link:focus::before {
    opacity: 0.6;
}

.top-menu-link:active {
    color: var(--white-hover-color);
}

.top-menu-link:active::before {
    opacity: 0.3;
}

.footer-login-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon_user2.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    top: 4px;
    left: 0;
}

.inner-page .footer-top-menu {
    grid-template-columns: repeat(4, auto);
    column-gap: 40px;
}

.inner-page .footer-login-link {
    margin-right: -15px;
}

.inner-page .footer-login-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/icon_user3.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 14px;
    top: 4px;
    left: -5px;
}

.footer-compare-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/statistics2.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 5px;
    left: 0;
}

.footer-basket-link::before {
    content: "";
    position: absolute;
    background-image: url("/img/basket-icon2.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 0;
}

.inner-page .footer-top-menu-item,
.inner-page .footer-link-output {
    padding: 0;
}

.inner-page .footer-top-menu-item:last-child,
.inner-page .footer-top-menu-item:first-child {
    margin: 0;
}

/* -----------------social-list---------------------------------- */

.social-list {
    justify-self: right;
    display: grid;
    grid-template-columns: repeat(3, 32px);
    gap: 20px;
}

.social-link {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.social-link:hover,
.social-link:focus {
    opacity: 0.6;
}

.social-link:active {
    opacity: 0.1;
}

.fb-link {
    background-image: url("/img/fb-icon.svg");
    background-repeat: no-repeat;
}

.inst-link {
    background-image: url("/img/insta-icon.svg");
    background-repeat: no-repeat;
}

.tw-link {
    background-image: url("/img/twitter-icon.svg");
    background-repeat: no-repeat;
}

.producer-link {
    justify-self: right;
    display: block;
    width: 115px;
    height: 33px;
    background-image: url("/img/logo_htmlacademy.svg");
    background-repeat: no-repeat;
}

.producer-link:hover,
.producer-link:focus {
    opacity: 0.6;
}

.producer-link:active {
    opacity: 0.3;
}

/* ---------------------------modal--------------------------- */

.modal {
    visibility: hidden;
    transform: translate(-100vw, -50%);
    position: relative;
}

.modal-write-us {
    padding: 92px 100px 54px;
    width: 960px;
    min-height: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--bg-white);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.modal-form {
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 82px 199px;
    gap: 32px 40px;
}

.user-comment-field {
    height: 100%;
    grid-column: 1/-1;
}

.user-name-field,
.user-email-field,
.user-comment-field {
    font-family: var(--gilroy-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.user-name-input,
.user-email-input,
.user-comment {
    margin-top: 10px;
    padding: 15px 20px;
    width: 100%;
    font-family: var(--opensans-font-family);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    background-color: var(--lighter-grey-color);
    border: none;
    color: var(--black-opacity-color);
}

.user-comment {
    padding-bottom: 25px;
}

.user-name-input:hover,
.user-email-input:hover,
.user-comment:hover{
    background-color: var(--light-grey-color);
}

.user-name-input:focus,
.user-email-input:focus,
.user-comment:focus {
    background-color: var(--white-color);
    outline: 2px solid var(--bg-color);
    color: var(--black-color);
}

.user-name-input:invalid,
.user-email-input:invalid {
    background-color: var(--invalid-color);
}

.button-send {
    margin-top: 12px;
    padding: 9px 35px;
    justify-self: left;
}

.button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: var(--dark-yellow-color);
    border-radius: 50%;
    opacity: 0.5;
}

.button-close:hover,
.button-close:focus {
    opacity: 1;
}

.button-close:active {
    opacity: 0.3;
}

.button-close::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    top: 26px;
    left: 15px;
    background-color: var(--bg-white);
    opacity: 0.7;
    transform: rotate(45deg);
}

.button-close::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    top: 26px;
    left: 15px;
    background-color: var(--bg-white);
    opacity: 0.7;
    transform: rotate(-45deg);
}

.modal-map {
    width: 960px;
    min-height: 573px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--bg-white);
    background-image: url("/img/map-big.png");
    background-position: -15px -5px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.modal-map .button-close {
    top: 28px;
    right: 28px;
}

.modal.show {
    visibility: visible;
    animation-name: bounce-show;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.overlay.show::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 30;
}

.modal.error {
    animation-name: shake;
    animation-duration: 0.6s;
}

@keyframes shake {
    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-52%, -50%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(-48%, -50%);
    }
}

@keyframes bounce-show {
    0% {
        transform: translate(-100vw, -50%);
    }

    50% {
        transform: translate(-55%, -50%);
    }

    70% {
        transform: translate(-45%, -50%);
    }

    90% {
        transform: translate(-52%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}
